<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </md-card-title>
      </md-card-header>
        <img md-card-image src="{{dish.image}}" alt="{{dish.name}}">
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40" fxLayout="column">
   <h2>Comments</h2>
   <md-list *ngIf = "dish">

     <md-list-item>
       <p md-line>{{dish.comments[0].comment}}</p>
       <p md-line>{{dish.comments[0].rating}} stars</p>
       <p md-line>-- {{dish.comments[0].author}} {{dish.comments[0].date | date}}</p>
     </md-list-item>
     <md-list-item>
       <p md-line>{{dish.comments[1].comment}}</p>
       <p md-line>{{dish.comments[1].rating}} stars</p>
       <p md-line>-- {{dish.comments[1].author}} {{dish.comments[1].date | date}}</p>
     </md-list-item>
     <md-list-item>
       <p md-line>{{dish.comments[2].comment}}</p>
       <p md-line>{{dish.comments[2].rating}} stars</p>
       <p md-line>-- {{dish.comments[2].author}} {{dish.comments[2].date | date}}</p>
     </md-list-item>
     <md-list-item>
       <p md-line>{{dish.comments[3].comment}}</p>
       <p md-line>{{dish.comments[3].rating}} stars</p>
       <p md-line>-- {{dish.comments[3].author}} {{dish.comments[3].date | date}}</p>
     </md-list-item>
     <md-list-item>
       <p md-line>{{dish.comments[4].comment}}</p>
       <p md-line>{{dish.comments[4].rating}} stars</p>
       <p md-line>-- {{dish.comments[4].author}} {{dish.comments[4].date | date}}</p>
     </md-list-item>
   </md-list>
   </div>

</div>
